
<div class="header-cifrado ">
    <div class="text-center ">
        <h1 class="display-4">Aplicaciones de Software de Cifrado</h1>
    </div>
</div>

<div class="text-justify">
    <ul class="list-group list-group-flush">
        <li class="list-group-item card-color2">
            <h2>Bitlocker</h2>
            <img class="img-encriptadores" src="~/img/encriptadores/Bitlocker.png" alt="Logo Bitlocker"><br><p>
                BitLocker es una aplicación de cifrado que nos permite proteger nuestro disco duro de un posible robo de información. Encontramos esta herramienta disponible desde Windows Vista, así que también la tenemos disponible en Windows Server 2008, Windows 7, Windows 8 y Windows 10.
                BitLocker cifra volúmenes enteros. Esto quiere decir que puede cifrar todo el disco duro o simplemente una parte de él. Utiliza un algoritmo de cifrado AES en modo CBC con una clave de 128 bits. Como aclaración, AES es un esquema de cifrado que el gobierno de los Estados Unidos considera un estándar.

            </p>
            <br />
            <a target="_blank" href="https://support.microsoft.com/es-es/windows/activar-el-cifrado-de-dispositivo-0c453637-bc88-5f74-5105-741561aae838">
                Bitlocker
            </a>
        </li>
        <li class="list-group-item card-color1">
            <h2>Cryptii</h2>
            <img class="img-encriptadores" src="~/img/encriptadores/criptiiiiiii.png" alt="Logo Cryptii"><br><p>
                Esta pequeña maravilla de página interactiva se llama Cryptii y sirve para convertir, codificar y encriptar y desencriptar datos con unos pocos clics. Lo más interesante es que incluye decenas de opciones con muchos parámetros configurables, así que además de interesante y educativa es práctica y útil, y no necesariamente porque tengas que descifrar mensajes del código Enigma interceptados a los alemanes (que también se puede).

            </p>
            <br />
            <a target="_blank" href="https://cryptii.com">Cryptii</a>
        </li>
        <li class="list-group-item card-color2">
            <h2>Cryptomator</h2>
            <img class="img-encriptadores" src="~/img/encriptadores/Cryptomator.png" alt="Logo cryptomator"><br><p>
                Cryptomator es una herramienta sencilla para la autodefensa digital ya que cuenta con la posibilidad de proteger los datos en las nubes de OneDrive, Dropbox, Google Drive y iCloud Drive (siempre y cuando las nubes citadas estén instaladas en el equipo) mediante el cifrado utilizado por la herramienta, aplicándolo a los archivos de forma independiente. Además, permite acceder a los archivos desde todos los dispositivos del usuario. La tecnología que usa Cryptomator cifra tanto los archivos, como los nombres de archivos, con AES y una longitud de clave de 256 bits.
            </p><br /><a target="_blank" href="https://cryptomator.org/">Cryptomator</a>
        </li>
        <li class="list-group-item card-color1">
            <h2>Enigmail</h2><img class="img-encriptadores" src="~/img/encriptadores/Enigmail.png" alt="Logo Enigmail"><br><p>
                Enigmail es una extensión adicional para Mozilla y Mozilla Thunderbird para las versiones que funcionan bajo los sistemas Microsoft Windows y de tipo Unix, como GNU/Linux. Enigmail no es un motor criptográfico por sí mismo, sino que utiliza el GNU Privacy Guard (GnuPG o GPG) para realizar las operaciones de cifrado criptográfico, facilitando el trabajo ya que no es necesario cifrar o firmar ficheros de texto desde la línea de comandos y luego pegarlos manualmente al mensaje de correo electrónico.
            </p><br /><a target="_blank" href="https://enigmail.net/index.php/en/">Enigmail</a>
        </li>
        <li class="list-group-item card-color2">
            <h2>Diskcryptor</h2>
            <img class="img-encriptadores" src="~/img/encriptadores/Diskcryptor.png" alt="Logo Diskcryptor">
            <br><p>
                DiskCryptor es una herramienta gratuita que nos va a permitir cifrar particiones de disco en nuestro sistema Windows. También es capaz de cifrar el todo el disco con todas las particiones, incluyendo la partición donde está instalado el sistema operativo Windows, de esta manera, todo lo que escribamos en dicho disco estará cifrado para evitar que alguien pueda leerlo si roba o se hace físicamente con nuestro disco duro.
            </p><br /><a target="_blank" href="https://diskcryptor.org/">Diskcryptor</a>
        </li>
        <li class="list-group-item card-color1">
            <h2>WinRar</h2>
            <img class="img-encriptadores" src="~/img/encriptadores/Winrar.png" alt="Logo winrar">
            <br><p>
                WinRAR es un software de compresión disponible en numerosos sistemas operativos. El programa WinRAR proporciona la posibilidad de comprimir numerosos archivos en uno solo, haciendo así dos tareas al mismo tiempo. La primera es juntar tantos archivos como queramos en un solo archivo comprimido, y la segunda es ahorrar espacio de almacenamiento ya que los ha comprimido. La compresión de archivos es algo que se viene haciendo desde hace muchos años, cuando los ordenadores estaban muy limitados en memoria era necesario comprimir ciertos archivos para ahorrar espacio en el disco duro. Hoy en día esta técnica es más bien usada para centralizar una gran cantidad de información y así poder compartirla de manera más cómoda, mediante un solo archivo.
            </p><br /><a target="_blank" href="https://www.winrar.es">WinRar</a>
        </li>
        <li class="list-group-item card-color2">
            <h2>Whisply</h2>
            <img class="img-encriptadores" src="~/img/encriptadores/Whisply.png" alt="Logo whisply">
            <br><p>
                Whisply es un servicio gratuito en línea que te permite transferir datos de forma cifrada desde la nube. De esta manera puedes transferir archivos de forma segura a otros usuarios de Dropbox, OneDrive o Google Drive. Basta con entrar al sitio de Whisply y soltar los archivos que deseas transferir a otra persona en el área designada o hacer clic en el botón “Press to choose” para abrir un explorador de archivos en su lugar. Vale aclarar que el sitio soporta hasta un total de hasta 1 GB.
            </p><br /><a target="_blank" href="https://whisp.ly/en">Whisply</a>
        </li>
    </ul>
</div>


