@{
	ViewData["Title"] = "AVISO DE PRIVACIDAD";
}


<div class="header-privacidad ">
	<div class="text-center ">
		<h1 class="display-4">AVISO DE PRIVACIDAD</h1>
	</div>
</div>

<div class="text-justify">

	<ul class="list-group list-group-flush">

		<li class="list-group-item card-color2"> <h2>Siiiiuuu</h2><br><p></p></li>
	</ul>
</div>
