@{
    ViewData["Title"] = "APPS DE SOFTWARE DE CIFRADO";
}

<div class="header-cifrado ">
    <div class="text-center ">
        <h1 class="display-4">Aplicaciones de Software de Cifrado</h1>
    </div>
</div>

<div class="text-justify">
    <ul class="list-group list-group-flush">
        <li class="list-group-item card-color2"><h2>Bitlocker</h2><br><p></p></li>
        <li class="list-group-item card-color1"><h2>Cryptii</h2><br><p></p></li>
        <li class="list-group-item card-color2"> <h2>Cryptomator</h2><br><p></p></li>
        <li class="list-group-item card-color1"><h2>Enigmail</h2><br><p></p></li>
        <li class="list-group-item card-color2">  <h2>Diskcryptor</h2><br><p></p></li>
        <li class="list-group-item card-color1"><h2>WinRar</h2><br><p></p></li>
        <li class="list-group-item card-color2"><h2>Whisply</h2><br><p></p></li>
    </ul>
</div>


