@{
    ViewData["Title"] = "CONCEPTOS CRIPTOGRAFICOS";
}



<div class="header-criptografia ">
    <div class="text-center ">
        <h1 class="display-4">Conceptos de Criptografía</h1>
    </div>
</div>

<div class="text-justify">
    <ul class="list-group list-group-flush">
        <li class="list-group-item card-color1"> <h2>Criptografía Asimétrica</h2><br><p></p></li>
        <li class="list-group-item card-color2">  <h2>Criptografía Simétrica</h2><br><p></p></li>
    </ul>
</div>
