@{
    ViewData["Title"] = "CONCEPTOS CRIPTOGRAFICOS";
}



<div class="header-criptografia ">
    <div class="text-center ">
        <h1 class="display-4">Conceptos de Criptografía</h1>
    </div>
</div>

<div class="text-justify">
    <ul class="list-group list-group-flush">
        <li class="list-group-item card-color1"> <h2>Criptografía Asimétrica</h2><br><p>
                La criptografía de clave simétrica (en inglés symmetric key cryptography), también llamada criptografía de clave secreta (en inglés secret key cryptography) o criptografía de una clave (en inglés single-key cryptography), es un método criptográfico en el cual se usa una misma clave para cifrar y descifrar mensajes en el emisor y el receptor. Las dos partes que se comunican han de ponerse de acuerdo de antemano sobre la clave a usar. Una vez que ambas partes tienen acceso a esta clave, la remitente cifra un mensaje usando la clave, lo envía al destinatario, y este lo descifra con la misma clave.
                Los algoritmos usados en la criptografía simétrica son principalmente operaciones booleanas y de transposición.

        </p></li>
        <li class="list-group-item card-color2">  <h2>Criptografía Simétrica</h2><br><p>
                También conocida como criptografía de clave pública (public key cryptography) o criptografía de dos claves (two-key cryptography), es un sistema criptográfico que se caracteriza por utilizar dos claves, una clave pública y otra privada, para el envío de mensajes o datos informáticos. Cabe señalar que ambas claves están conectadas entre sí, siendo que la clave pública es la responsable del cifrado y la clave privada del descifrado. En cuanto al procedimiento, el destinatario genera ambas claves y comunica la clave pública al emisor del mensaje quien, por su parte, tiene ahora la opción de cifrar el mensaje. Una vez que se haya enviado el mensaje, solo se podrá descifrar con la clave privada, de manera que, si el mensaje cifrado es interceptado, la información del mensaje permanecerá oculta. Además, los métodos criptográficos garantizan que esa pareja de claves solo se puede generar una vez, de modo que se puede asumir que no es posible que dos personas hayan obtenido casualmente la misma pareja de claves.
        </p></li>
    </ul>
</div>
