@{
    ViewData["Title"] = "INTEGRIDAD DE LA INFORMACIÓN";
}


<div class="header-integridad ">
    <div class="text-center ">
        <h1 class="display-4">Integridad de la Información</h1>
    </div>
</div>

<div class="text-justify">
    <ul class="list-group list-group-flush">
        <li class="list-group-item card-color2">   <h2>Aplicaciones de firmas digitales</h2><br><p></p></li>
        <li class="list-group-item card-color1">  <h2>Blockchain</h2><br><p></p></li>
    </ul>
</div>
