@{
    ViewData["Title"] = "INTEGRIDAD DE LA INFORMACIÓN";
}


<div class="header-integridad ">
    <div class="text-center ">
        <h1 class="display-4">Integridad de la Información</h1>
    </div>
</div>

<div class="text-justify">
    <ul class="list-group list-group-flush">
        <li class="list-group-item card-color2"><h2>Aplicaciones de firmas digitales</h2><br><p>
                La Firma Digital es un método criptográfico que asocia la identidad de una persona o de un equipo informático al mensaje o documento. En función del tipo de firma, puede, además, asegurar la integridad del documento o mensaje.
            </p>
           <p>
               La firma digital de un documento es el resultado de aplicar cierto algoritmo matemático, denominado función hash, a su contenido y, seguidamente, aplicar el algoritmo de firma (en el que se emplea una clave privada) al resultado de la operación anterior, generando la firma electrónica o digital. El software de firma digital debe además efectuar varias validaciones, entre las cuales se pueden mencionar:

                <ul class="lista">Vigencia del certificado digital del firmante</ul>
                <ul class="lista">Revocación del certificado digital del firmante (puede ser por OCSP o CRL),</ul>
                <ul class="lista">Inclusión de sello de tiempo.</ul>
           </p> 
           <br />
           <p>
                Algunas aplicaciones para firmas digitales son las siguientes:

                <ul class="lista2">DocuSign</ul>
                <ul class="lista2">OneSpan Sign</ul>
                    <ul class="lista2">FAD</ul>
                    <ul class="lista2">CINCEL</ul>
                <ul class="lista2">Webdox</ul>
                    <ul class="lista2">PandaDoc</ul>
                    <ul class="lista2">Eversign</ul>
                    <ul class="lista2">Qwirl</ul>
                <ul class="lista2">Adobe Acrobat Sign</ul>
                <ul class="lista2">Formstack Sign</ul>
           </p>

        </li>
        <li class="list-group-item card-color1 "><h2>Blockchain</h2><br><p>
                El Blockchain es una tecnología basada en una cadena de bloques de operaciones descentralizada y pública. Esta tecnología genera una base de datos compartida a la que tienen acceso sus participantes, los cuáles pueden rastrear cada transacción que hayan realizado. Es como un gran libro de contabilidad inmodificable y compartido que van escribiendo una gran cantidad de ordenadores de forma simultánea.
                Cada vez que algún miembro de la red realiza una transacción digital, dicha transacción genera unos datos asociados que quedaran almacenados en uno de los bloques. Cuando ese bloque está completo de información, el bloque se acopla a la cadena de bloques ya existente o blockchain.

        </p></li>
    </ul>
</div>
