@{
	ViewData["Title"] = "Responsabilidad Legal";
}


<div class="header-responsabilidad ">
	<div class="text-center ">
		<h1 class="display-4">RESPONSABILIDAD LEGAL PARA USO DE SOFTWARE</h1>
	</div>
</div>

<div class="text-justify">

	<ul class="list-group list-group-flush">

		<li class="list-group-item card-color1"> <h2>Messi</h2><br><p></p></li>
	</ul>
</div>


