@{
	ViewData["Title"] = "PROTOCOLOS DE SEGURIDAD";
}


<div class="header-seguridad ">
	<div class="text-center ">
		<h1 class="display-4">Protocolos de Seguridad</h1>
	</div>
</div>

<div class="text-justify">

	<ul class="list-group list-group-flush">

		<li class="list-group-item card-color1"> <h2>HTTPS</h2><br><p></p></li>
		<li class="list-group-item card-color2"> <h2>SSL</h2><br><p></p></li>
		<li class="list-group-item card-color1">    <h2>FTPS</h2><br><p></p></li>
		<li class="list-group-item card-color2"><h2>SSH</h2><br><p></p></li>
		<li class="list-group-item card-color1"><h2>IPSEC</h2><br><p></p></li>
		<li class="list-group-item card-color2"> <h2>SET</h2><br><p></p></li>
		<li class="list-group-item card-color1"> <h2>SCP</h2><br><p></p></li>
		<li class="list-group-item card-color2">    <h2>SFTP</h2><br><p></p></li>
		<li class="list-group-item card-color1"><h2>SMTPS</h2><br><p></p></li>
		<li class="list-group-item card-color2"><h2>IMAPS</h2><br><p></p></li>
	</ul>
</div>

