
<div class="header-principal">
	<div class="text-center">
		<h1 class="display-4">Libros</h1>
	</div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 ">
	<div class="col">
		<div class="card h-100">
			<img src="https://www.infobae.com/new-resizer/c3p7Hym0p5PEgZG3SLWZCOq24cY=/992x1488/filters:format(webp):quality(85)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/07/20201800/mejores-libros-Don-Quijote-sf.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Don Quijote de la Mancha</h5>
				<h6>Miguel de Cervantes (1605 y 1615)</h6>
				<p class="card-text">
					Miguel de Cervantes va más allá de la novela de caballerías al declarar a su libro "hijo del entendimiento"; y al escribirlo como tal permite que los lectores sean siempre nuevos a lo largo de los siglos, hasta hoy.Miguel de Cervantes va más allá de la novela de caballerías al declarar a su libro "hijo del entendimiento"; y al escribirlo como tal permite que los lectores sean siempre nuevos a lo largo de los siglos, hasta hoy.

				</p>

			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-comprar">Comprar Ahora <i class="bi bi-credit-card"></i></button>
				<span class="text-muted" style="text-align: right">$ 99.00</span>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card h-100">
			<img src="https://www.infobae.com/new-resizer/L-yKeXKksg3abLQXTeintlRz8dY=/992x1488/filters:format(webp):quality(85)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/07/20201756/mejores-libros-La-Iliada-SF.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">La Ilíada</h5>
				<h6>Homero (siglo VIII aC)</h6>
				<p class="card-text">
					En su Poética, Aristóteles señaló que una buena epopeya representa una acción única, no un conjunto de acontecimientos. Tal vez sea ese el acierto de La Ilíada: la obra atribuida al poeta griego Homero no cuenta la Guerra de Troya entera, sino su año décimo, el último; no se dispersa en los sentimientos de todos sus personajes sino que se concentra en las emociones del héroe, Aquiles. Las pérdidas de los griegos, los giros del destino, las intervenciones de los dioses y la caída de Troya se narran mediante los actos que generan la ira, el orgullo, el impulso de desagravio, el amor y la compasión de Aquiles.
				</p>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-comprar">Comprar Ahora <i class="bi bi-credit-card"></i></button>
				<span class="text-muted" style="text-align: right">$ 184.00</span>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card h-100">
			<img src="https://www.infobae.com/new-resizer/dhr2UyjseaAtZMBcPSG7tg5ciTo=/992x1488/filters:format(webp):quality(85)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/07/20201754/mejores-libros-hamlet-sf.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Hamlet</h5>
				<h6>William Shakespeare (entre 1599 y 1602)</h6>
				<p class="card-text">
					Una de las obras más citadas de la lengua inglesa –"Morir: dormir; dormir, tal vez soñar", por caso– es la tragedia del príncipe de Dinamarca que habita afligido el palacio donde su tío Claudio acaba de hacerse del trono y de la madre de Hamlet. A diferencia del modelo tradicional de acciones en escena, la pieza más extensa y más representada de William Shakespeare se centra en el carácter del personaje: un joven de comportamiento alocado, melancólico y con una filosofía escéptica, que ve al fantasma de su padre y accede a vengar su asesinato. Otra novedad que impuso Hamlet es la sucesión de monólogos, en lugar de actos, mediante los cuales el personaje principal comunica al público sus pensamientos y sus planes.
				</p>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-comprar">Comprar Ahora <i class="bi bi-credit-card"></i></button>
				<span class="text-muted" style="text-align: right">$ 139.00</span>
			</div>
		</div>
	</div>
</div>

<hr />
<div class="row row-cols-1 row-cols-md-3 g-4">
	<div class="col">
		<div class="card h-100">
			<img src="https://www.infobae.com/new-resizer/7VsZLFo55ikFc8IDJjFw4HrGREY=/992x1488/filters:format(webp):quality(85)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/07/20201751/mejores-libros-La-divina-comedia.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">La divina comedia</h5>
				<h6>Dante Alighieri (entre 1304 y 1321)</h6>
				<p class="card-text">
					"Por mí se va a la ciudad doliente. Por mí se va a las eternas penas. Por mí se va entre la gente perdida. La Justicia movió a mi autor supremo. Me hicieron el divino Poder, la suma Sabiduría y el Amor primero. Antes que yo no hubo cosa creada, sino lo eterno, y yo permaneceré eternamente. Dejad toda esperanza los que entráis".
				</p>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-comprar">Comprar Ahora <i class="bi bi-credit-card"></i></button>
				<span class="text-muted" style="text-align: right">$ 215.00</span>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card h-100">
			<img src="https://www.infobae.com/new-resizer/GoPis510MTqh8tddBq2AfCOIJR4=/992x1488/filters:format(webp):quality(85)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/07/20201747/mejores-libros-Guerra-y-Paz-sf.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">La guerra y la paz</h5>
				<h6>León Tolstoi (1869)</h6>
				<p class="card-text">
					Hace casi un siglo y medio que una de las obras máximas del ruso León Tolstoi –la otra, Anna Karenina– fue publicada, y todavía sigue entre los 100 libros más vendidos del planeta. No sólo es una apuesta ambiciosa contra los límites de la novela –una miríada de personajes, un arco de medio siglo– sino que también combina de modo desafiante la historia y la imaginación, los salones de la clase alta rusa y los campos de batalla, las pasiones y la reflexión filosófica. "Si todos lucharan por sus propias convicciones en el mundo, entonces no habría guerra", se lee, por ejemplo. Aunque acaso la cita más famosa de La guerra y la paz sea otra: "Todas las familias felices se parecen entre sí; las infelices son desgraciadas en su propia manera".
				</p>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-comprar">Comprar Ahora <i class="bi bi-credit-card"></i></button>
				<span class="text-muted" style="text-align: right">$ 144.00</span>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card h-100">
			<img src="https://www.infobae.com/new-resizer/7PD5Pf4JFEKHArXOSd42Ea52yQ8=/992x1764/filters:format(webp):quality(85)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/07/20201725/mejores-libros-Madame-Bovary-sf.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Madame Bovary</h5>
				<h6>Gustave Flaubert (1857)</h6>
				<p class="card-text">
					"La intensa y trágica historia de esa campesinita normanda que quiso vivir todas las aventuras que cuentan las novelas y lo pagó tan caro", describió Mario Vargas Llosa el libro que lleva a su límite la narrativa romántica de la época para convertirla en literatura realista y crítica social del siglo XIX. "Un puñado de personajes literarios han marcado mi vida de manera más durable que una buena parte de los seres de carne y hueso que he conocido", escribió el premio Nobel en La orgía perpetua. Emma Bovary encabeza esa lista.
				</p>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-comprar">Comprar Ahora <i class="bi bi-credit-card"></i></button>
				<span class="text-muted" style="text-align: right">$ 88.66</span>
			</div>
		</div>
	</div>
</div>

<hr />

<div class="row row-cols-1 row-cols-md-3 g-4">
	<div class="col">
		<div class="card h-100">
			<img src="https://www.infobae.com/new-resizer/p9LFNV8Agn7GvMibhLtjYcWx2Ng=/992x1488/filters:format(webp):quality(85)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/07/20201742/mejores-libros-el-aleph-sf.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">El Aleph</h5>
				<h6>Jorge Luis Borges (1949)</h6>
				<p class="card-text">
					Esta colección de relatos reúne algunos de los más famosos del autor argentino: "El inmortal", "Historia del guerrero y la cautiva", "Biografía de Tadeo Isidoro Cruz", "Emma Zunz", "La casa de Asterión", "El Zahir", "La escritura de Dios", "Abenjacán el bojarí, muerto en su laberinto", y el que da título al libro. Una pieza –el cuento y el objeto Aleph propiamente dicho– espectacular, sobre los vasos comunicantes de la realidad y la imaginación, una pequeña esfera que contiene el universo entero: "Vi el populoso mar, vi el alba y la tarde, vi las muchedumbres de América, vi una plateada telaraña en el centro de una pirámide, vi un laberinto roto (era Londres)".
				</p>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-comprar">Comprar Ahora <i class="bi bi-credit-card"></i></button>
				<span class="text-muted" style="text-align: right">$ 199.89</span>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card h-100">
			<img src="https://www.infobae.com/new-resizer/kHy-6fqFtuW8MRZGROLOGY-SG4s=/992x1323/filters:format(webp):quality(85)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/07/20201738/mejores-libros-El-proceso.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">El proceso</h5>
				<h6>Franz Kafka (1925)</h6>
				<p class="card-text">
					A diferencia del caso de Flaubert, el neologismo que este escritor checo en lengua alemana legó al mundo sale de su nombre y no del de un personaje: lo kafkiano. Este adjetivo popular se aplica a una situación absurda, incomprensible, complicada, al borde de lo irreal.
				</p>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-comprar">Comprar Ahora <i class="bi bi-credit-card"></i></button>
				<span class="text-muted" style="text-align: right">$ 110.00</span>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card h-100">
			<img src="https://www.infobae.com/new-resizer/afOjPDNUYtGT7SHMb89x6Nik0VU=/992x1488/filters:format(webp):quality(85)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/07/20201733/mejores-libros-En-busca-del-tiempo-perdido.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">En busca del tiempo perdido</h5>
				<h6>Marcel Proust (entre 1913 y 1927)</h6>
				<p class="card-text">
					Acaso la escena más escalofriante de la opus magna del autor francés se halle en el tomo séptimo, y último, de esta saga: El tiempo recobrado. Los lectores se adentran en una fiesta de disfraces, pero en realidad ninguno de los invitados usa máscaras o trajes que no sean los propios: es que el tiempo ha pasado, los ha cambiado a todos, por fuera y por dentro. Pero la más conocida es la que abre el libro: el alter ego de Marcel Proust moja una magdalena en el té y su sabor le hace revivir el ayer.
				</p>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-comprar">Comprar Ahora <i class="bi bi-credit-card"></i></button>
				<span class="text-muted">$ 150.50</span>
			</div>
		</div>
	</div>
</div>